{% load static %}

<meta name="name" content="Task Rabbit">
<meta name="msapplication-TileColor" content="#C0FFEE">
<meta name="description" content="A simple unobstrusive courier client with a focus on speed of delivery">
<link type="image/png" sizes="32x32" rel="icon" href="{% static 'images/taskrabbit-32.png' %}">
<link rel="icon" type="image/png" sizes="72x72" href="{% static 'images/taskrabbit-72.png' %}">
<link rel="icon" type="image/png" sizes="96x96" href="{% static 'images/taskrabbit-96.png' %}">
<link rel="apple-touch-icon" type="image/png" sizes="76x76" href="images/taskrabbit-apple-icon-76.png">