{% extends 'customer/base.html' %}
{% load crispy_forms_tags %}


{% block head %}
    {% include 'partials/_firebase-app.html' %}
{% endblock head %}

{% block title %}
    <title>Profile | Task Rabbit</title>
{% endblock title %}

{% block main %}
    <br>
    <b class="text-secondary">Your Information</b>
    <br>
    <div class="card bg-white mt-2 mb-5">
        <div class="card-body">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form|crispy }}
                {{ customer_form|crispy }}
                <input type="hidden" name="action" value="update_profile">
                <button type="submit" class="btn btn-warning">Save</button>
            </form>
        </div>
    </div>
    
    <b class="text-secondary">Change Password</b>
    <br>
    <div class="card bg-white mt-2 mb-5">
        <div class="card-body">
            <form method="POST">
                {% csrf_token %}
                {{ password_change_form|crispy }}
                <input type="hidden" name="action" value="update_password">
                <button type="submit" class="btn btn-warning">Update password</button>
            </form>
        </div>
    </div>
    
    <b class="text-secondary">Phone number</b>
    <br>
    <div class="card bg-white mt-2 mb-5">
        <div class="card-body">
            <div id="recaptcha-container"></div>
            
            <div id="get-otp-code" class="input-group mb-3 {% if request.user.customer.phone_number %} d-none {% endif %}">
                <input type="text" name="get_otp" id="get_otp_input" class="form-control" placeholder="Enter your phone number with your country calling code" required>
                <input type="hidden" name="receive" value="verify_phone_number">
                <button type="submit" class="btn btn-warning">Send otp code</button>
            </div>
            <div id="set-otp-code" class="input-group mb-3 d-none">
                <input type="text" name="set_otp" id="set_otp_input" class="form-control" placeholder="Enter your otp verification code" required>
                <input type="hidden" name="verify" value="verify_phone_number">
                <button id="set-otp-btn" type="submit" class="btn btn-warning">Verify otp code</button>
            </div>
            <div id="change-phone" class="input-group mb-3 {% if not request.user.customer.phone_number %} d-none {% endif %}">
                <input type="text" class="form-control" value={{ request.user.customer.phone_number }} disabled>
                <button type="submit" class="btn btn-warning">Change</button>
            </div>
        </div>
    </div>
    {% include 'partials/_firebase-auth.html' %}
{% endblock  %}