{% load static %}
{% load get_env %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script>
        let vh = window.innerHeight * 0.01
        document.documentElement.style.setProperty('--vh', `${vh}px`)
    </script>
    {% include 'partials/_firebase-app.html' %}
    {% include 'partials/_firebase-messaging.html' %}
    {% block title %}{% endblock title %}
    {% block head %}{% endblock head %}
    <style>
        #content {
            height: calc(var(--vh, 1vh) * 100)
        }
    </style>
</head>
<body class="position-relative">
    <div id="content">
        {% block content %}{% endblock content %} 
    </div>

    {% comment %} {% include 'partials/_firebase-auth.html' %} {% endcomment %}
</body>
</html>