{% extends 'courier/base.html' %} 
{% load static %} 

{% block content %}
    <div class="h-100 d-flex flex-column align-items-center justify-content-center">
    <img
        src="{% static 'images/job-completed.gif' %}"
        alt="Job completed animated image"
        class="mb-3"
        width="300"
        height="300"
    />
    <p style="margin-top: -40px;">Job completed successfully! Well done.</p>
    <a class="btn btn-warning" href="{% url 'courier:home' %}"
        >Go to available jobs</a
    >
    </div>
{% endblock content %}
