{% extends 'base.html' %}

{% block title %}
    <title>Home | Task Rabbit</title>
{% endblock title %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="text-center mb-5 mt-5">Welcome to Task Rabbit</h1>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">CUSTOMER</h4>
                        <p class="card-text">{% lorem 20 w random %}</p>
                        <a href="{% url 'customer:home' %}" class="btn btn-warning">Details</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 mb-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">COURIER</h4>
                        <p class="card-text">{% lorem 20 w random %}</p>
                        <a href="{% url 'courier:home' %}" class="btn btn-warning">Details</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}