{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    <title>Signup | Task Rabbit</title>
{% endblock title %}

{% block content %}
    <div class="container-fluid mt-5">
        <div class="row justify-content-center">
            <div class="col-lg-4">
                <div class="card">
                    <div class="card-body">
                        <h4 class="text-center text-uppercase mb-3">
                            Create an account
                        </h4>
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <button class="btn btn-warning btn-block">Register</button>
                            <p class="text-center mt-3">
                                Already have an account?
                                <a href="{% url 'login' %}?next={{ request.GET.next }}">Sign In</a>
                            </p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
